@page "/"

@using System.ComponentModel.DataAnnotations

@inject ICustomerService CustomerService
@inject IFormService FormService
@inject NavigationManager NavigationManager

<PageTitle>Index - BookStore</PageTitle>

<h1>Book Store</h1>

<Loader isLoaded="@isLoaded" />


<TelerikForm 
    OnValidSubmit="@ValidSubmitHandler"
    EditContext="@CustomerEditContext"
>
    <FormValidation>
        <DataAnnotationsValidator />
    </FormValidation>

    <FormItems>
        <FormItem Field="PhoneNumber"
                  EditorType="@FormEditorType.TextBox"
                  LabelText="Phone Number of Customer">
        </FormItem>
    </FormItems>
</TelerikForm>

@code {
    private bool isLoaded = false;

    private EditContext? CustomerEditContext { get; set; }

    private Customer CustomerModel = new Customer();

    [CascadingParameter]
    protected Notification? Notification { get; set; }

    void ShowNotifications(string Text, string ThemeColor)
    {
        Notification!.telerikNotification.Show(new NotificationModel
            {
                Text = Text,
                ThemeColor = ThemeColor,
            });
        isLoaded = true;
    }

    protected override void OnInitialized()
    {
        CustomerEditContext = new EditContext(CustomerModel);
        isLoaded = true;
    }

    public async void ValidSubmitHandler(EditContext editContext)
    {
        isLoaded = false;
        var customer = (Customer)editContext.Model;
        var result = await CustomerService.GetCustomerFromPhoneNumber(customer);
        if (result.CustomerId == 0)
        {
            FormService.Customer = result;
            ShowNotifications("Customer not found. Create new customer!!", "info");
            NavigationManager.NavigateTo("/transactions");
        }
        else
        {
            ShowNotifications("Customer found", "info");
            NavigationManager.NavigateTo($"/transactions/{result.CustomerId}");
        }
    }

}